<div class="home-page">
    <section class="quote-section">
      <div class="quote" #quoteRef>
        <h1>From the river to the sea, Palestine will be "FREE"</h1>
        <p>
          By supporting Palestine and choosing to boycott Israeli products,
          you are taking a stand against oppression and injustice.
          Your everyday choices can contribute to a larger movement for freedom,
          dignity, and human rights for the Palestinian people.
        </p>
      </div>
    </section>
    <div class="button-section">
      <a routerLink="/searchAll" class="btn">Search All</a>
      <a routerLink="/categorie" class="btn">Browse Categories</a>
      <a routerLink="/scan" class="btn">Barcode Scanner</a>
      <a routerLink="/something-missing" class="btn">Something Missing</a>
    </div>
  </div>
  