<div class="container1">
    <div class="header-container">
        <button class="header-back-button" (click)="navigateBack()">
          <fa-icon [icon]="faArrowLeft"></fa-icon> Back
        </button>
        <input 
          class="search-form-input" 
          type="text" 
          placeholder="Search categories" 
          [(ngModel)]="searchTerm" 
          (input)="searchCategories()"
        />
        <button class="header-search-button">
          <fa-icon [icon]="faSearch"></fa-icon> Search
        </button>


        <button class="header-share-button" (click)="toggleShareContainer()">
          <fa-icon [icon]="faShare"></fa-icon> Share
        </button>
      </div>
      </div>
      
  
    <div class="social-media">
      <p style="text-align: center;padding: 10px;">Support our work by following us:</p>
      <div class="social-icons">
      </div>
    </div>
  
    <div class="icons-grid" *ngIf="filteredCategory.length > 0">
      <div *ngFor="let category of filteredCategory" class="icon-item" (click)="goToCategory(category)">
        <img *ngIf="imageMap.has(category.id)" [src]="getImageUrl(imageMap.get(category.id))" alt="image" />
        <p>{{ category.name }}</p>
      </div>
    </div>
    

    
    
      <div *ngIf="filteredCategory.length === 0" class="no-category" style="text-align: center;">
        <p>Aucune catégorie trouvée.</p>
      </div>
    

    
  
    <div *ngIf="showShareContainer" class="modal-overlay">
      <div class="share-container">
        <input
          type="text"
          value="https://boycott.thewitness.news/categories/car"
          readonly
          class="share-link"
        />
        <input
          type="text"
          placeholder="Rechercher des personnes ou des e-mails"
          class="share-input"
        />
        <div class="share-options">
          <button>Outlook</button>
          <button>WhatsApp</button>
          <button>Facebook</button>
          <button>Mobile connecté</button>
          <button>OneNote</button>
        </div>
        <button class="close-button" (click)="toggleShareContainer()">Close</button>
      </div>
    </div>


  