<div class="something" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
    <div class="something-missing-form">
     
      <h2>Is something missing?</h2>
      <p class="info-message">Please provide accurate and truthful information. Your contributions help us support a just cause.</p>
  
      <div class="radio-buttons">
        <label>
          <input type="radio" value="Boycott" [(ngModel)]="selectedOption" /> Boycott
        </label>
        <label>
          <input type="radio" value="Alternative" [(ngModel)]="selectedOption" /> Alternative
        </label>
      </div>
  
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="brandName">Brand Name:</label>
          <input
            type="text"
            id="brandName"
            placeholder="Coca Cola"
            [(ngModel)]="formData.brandName"
            name="brandName"
            required
          />
        </div>
  
        <div *ngIf="selectedOption === 'Boycott'">
          <div class="form-group">
            <label for="proofURL">Proof URL:</label>
            <input
              type="text"
              id="proofURL"
              placeholder="http://example.com"
              [(ngModel)]="formData.proofURL"
              name="proofURL"
              required
            />
            <div *ngIf="urlError" class="error-message">{{ urlError }}</div>
          </div>
          <div class="form-group">
            <label for="reason">Reason:</label>
            <textarea
              id="reason"
              placeholder="This brand supports Zionism because..."
              [(ngModel)]="formData.reason"
              name="reason"
              required
            ></textarea>
          </div>
        </div>
  
        <div *ngIf="selectedOption === 'Alternative'">
          <div class="form-group">
            <label for="alternativeOf">Alternative of:</label>
            <input
              type="text"
              id="alternativeOf"
              placeholder="Brand A"
              [(ngModel)]="formData.alternativeOf"
              name="alternativeOf"
              required
            />
          </div>
          <div class="form-group">
            <label for="proofURL">Proof URL:</label>
            <input
              type="text"
              id="proofURL"
              placeholder="http://example.com"
              [(ngModel)]="formData.proofURL"
              name="proofURL"
              required
            />
            <div *ngIf="urlError" class="error-message">{{ urlError }}</div>
          </div>
        </div>
  
        <div class="form-buttons">
          <button class="send-button" type="submit">Send</button>
        </div>
      </form>
    </div>
  
    <div *ngIf="isSubmitted" class="modal-overlay">
      <div class="modal">
        <h2>Thank you!</h2>
        <p>Your submission is valuable and helps in the cause. Together, we can make a difference.</p>
        <button class="close-button" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
  
