/* Conteneur principal */
.category-list {
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: 40px auto;
    margin-left: 200px;

  }
  
  /* Liste des catégories */
  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  /* Cartes de catégorie */
  .category-card {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }
  
  .category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Image de catégorie */
  .category-image {
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    
    
  }
  
  .category-card h3 {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
  }
  
  .category-card p {
    font-size: 14px;
    color: #777;
  }
  .main-content {
    flex: 1;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
app-nav-bar {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 88%;
    margin-left: 12%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .admin-layout {
      flex-direction: column;
      height: 400vh;

  }

  app-side-bar {
      width: 100%;
      height: auto;
      position: relative;
  }
  .main-content {
    margin: 0;
}

/* Navbar */
app-nav-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    margin-left: 165px;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* General Layout */
.add-product{
  width: 60%;
  margin-left: 170px;
}
.category-list {
margin-left: 170px;  
width: 60%;

}

 }
