<div class="home-page">
  <section class="quote-section">
    <div class="quote" #quoteElement>
      <h1>From the river to the sea, Palestine will be "FREE"</h1>
      <p>
        By supporting Palestine and choosing to boycott Israeli products,
        you are taking a stand against oppression and injustice.
        Your everyday choices can contribute to a larger movement for freedom,
        dignity, and human rights for the Palestinian people.
      </p>
    </div>
  </section>

  <div class="button-section">
    <button class="btn" (click)="navigateTo('/search')">Search All</button>
    <button class="btn" (click)="navigateTo('/categorie')">Browse Categories</button>
    <button class="btn" (click)="navigateTo('/scan')">Barcode Scanner</button>
    <button class="btn" (click)="navigateTo('/something')">Something Missing</button>
  </div>
</div>
